profiles {
  test {
    process.executor = 'local'
    params.project = 'local'
    params.region = 'local'
    workDir = 'work'
    docker.enabled = true
  }
  
  gcp {
    process {
      executor = 'google-batch'
      machineType = 'n2-standard-4'
      disk = '50 GB'
      errorStrategy = 'retry'
      maxRetries = 3
    }

    workDir  = 'gs://mpreuss-projects/nextflow_example/work'
    params.outdir = 'gs://mpreuss-projects/nextflow_example/results'

    docker {
      enabled = true
    }
  }
}

google {
  project = 'lencz-lab-cogent-1'
  location = 'us-east1'
  batch {
    spot = true              // ← this is the big money saver
  }
}

process {
  executor = 'local'
  cpus = 1
  memory = '1 GB'
  time = '1h'
}