params {
  gcp_bucket = 'gs://northwell-nextflow'
  project_slug = 'nextflow-gcp'
  user = System.getenv('USER') ?: 'unknown-user'
}

profiles {
  test {
    process.executor = 'local'
    params.project = 'local'
    params.region = 'local'
    workDir = 'work'
    docker.enabled = true
  }
  
  gcp {
    process {
      executor = 'google-batch'
      machineType = 'n2-standard-2'
      // machineType = 'e2-small'
      disk = '10 GB'
      errorStrategy = 'retry'
      maxRetries = 3
    }

    workDir = "${params.gcp_bucket}/${params.project_slug}/work/${params.user}"
    outputDir = "${params.gcp_bucket}/${params.project_slug}/results/${params.user}"

    docker {
      enabled = true
    }
  }
}

google {
  project = 'lencz-lab-cogent-1'
  location = 'us-central1'
  batch {
    spot = false              // ← this is the big money saver when set to true, but be aware that your jobs may be preempted and need to be retried
    network = 'projects/lencz-lab-cogent-1/global/networks/default'
    subnetwork = 'projects/lencz-lab-cogent-1/regions/us-central1/subnetworks/default'
  }
}

process {
  executor = 'local'
  cpus = 1
  memory = '1 GB'
  time = '1h'
}

// def localConfig = new File("${projectDir}/nextflow.local.config")
// if( localConfig.exists() ) {
//   includeConfig localConfig
// }
